@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@media only screen and (max-device-width: 600px) {
    .column.one, .column.two {
        width: 50%;
    }
    .column.three, .column.four {
        display: none;
    }
    .mobile-second-table {
        display: block;
        margin-top: -30px !important;
    }
    .mobile-second-table th:first-of-type, .mobile-second-table th:nth-of-type(2) {
        border-top: 0;
    }
    table {
        margin: 30px 0;
    }
    header {
        justify-content: space-around;
        padding: 0 5px;
        font-size: 17px;
    }
    .remove-top-margin {
        margin-top: -30px;
    }
    #exemplars li {
        margin: 5px 0;
    }
}

@media only screen and (max-device-width: 382px) {
    header {
        font-size: 15px;
    }
}

@media only screen and (min-device-width: 601px) {
    .column.one {
        width: 20%;
    }
    .column.two {
        width: 21%;
    }
    .column.three {
        width: 27%;
    }
    .column.four {
        width: 32%;
    }
    .mobile-second-table {
        display: none;
    }
    table {
        margin: 15px 0;
    }
    header {
        justify-content: flex-end;
        padding: 0 30px;
        font-size: 20px;
    }
    .remove-top-margin {
        margin-top: -15px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #86BBD8;
    display: flex;
    height: 60px;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav-link {
    padding: 0 15px;
    color: #1E1E24;
    font-weight: bold;
}

body {
    background-color: rgb(231, 234, 236);
}

main, footer {
    max-width: 1170px;
    margin: 0 auto 60px;
    width: 100vw;
    padding: 0 15px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#content-of-nea table {
    max-width: 760px;
}

td {
    width: 50%;
    vertical-align: top;
}

th, td {
    padding: 7px;
    border: 1px solid rgb(54, 138, 177);
    border-collapse: collapse;
}

ol {
    margin-left: 20px;
}

table ul {
    margin-left: 20px;
}

main div {
    padding-top: 90px;
}

main div:not(:first-of-type) {
    margin-top: -50px;
}

.exemplar-link, .footer-link {
    color: #648fa7;
}

#exemplars ul {
    margin-left: 20px;
    margin-bottom: 25px;
}

footer {
    font-size: 14px;
}

.remove-top-margin th:first-of-type {
    border-top: none;
}